.navbar{
  height: 60px;
  z-index: 9;
}

.logo{
  width: 30px;
}

.navbar-brand{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 250px;
}

.brand-name{
  
  margin-left: 10px;
}

.brand-text{
  font-size: 1.3em !important;
}

.brand-text:hover{
  cursor: pointer;
}

.container{margin-left: 10%;margin-right: 10%;} .container-2{ margin-left: 15%; margin-right: 15%;}

.navbar-actions{
  min-width: 150px;
  display: flex;
  justify-content: space-between;
}

.navbar-actions>a{
  text-decoration: none;
}

.navbar-content{
  display: flex;
  justify-content: space-between;
}

.mt-2{
  margin-top: 20px;
}