/*Escolha as cores para os componentes*/

/*1------cores de componentes e containers*/
.bg-primary{
    background: #232023;
}

.bg-secondary{
    background: #e4e4e4;
}

.bg-highlight{
    background: #363636;
}

.bg-tertiary{
    background: #d5d5d5;
}

/*2-------cores de link*/
.a-tx-white{
    color: white;
}

.a-tx-white:hover{
    color: #919191;
}

/*3-------cores de botoes*/
.btn-primary{
    background-color: #a34ffa;
}

.btn-secondary{
    background-color: #9Ac4fe;
}

.btn-tertiary{
    background-color: #f5437c;
}